/*=========     VARIABLES  ================================*/

:root{
  font-size: 62.5%; /* 1rem = 10px */
  --base-color: hsl(36, 20%, 95%)
  --primary-color: hsl(25, 100%, 60%);
  --headline-color: hsl(36, 69%, 85%);
  --parag-color: hsl(15, 60%, 20%);
  font-family: Arial, Helvetica, sans-serif;
}
/*=========     BASE ================================*/

body{
  background-color: var(--base-color);
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3rem;
}

/*=========     CABEÇALHO  ================================*/

header .container{
  display: flex;
  justify-content: space-between;
}
header img {

}
/*=========  SEÇÃO PRINCIPAL  ================================*/
/*===  Banner  =====*/
.banner img {
  width: 100%;
}
.secaoProdutos {
  padding-top: 7.4rem;
}

/*=========  SEÇÃO DE PEDIDOS  ================================*/

.cardsPedidos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cardsPedidos li {
  width: 23.3rem;
  height: 37.3rem;
  padding: 2.2rem 2.8rem;

  text-align: center;

  background: #FFFFFF;
  border: 2px solid var(--headline-color);
  border-radius: 15px;

  margin-bottom: 1.5rem;
}

.cardsPedidos li p {
  color: var(--parag-color);
  font-size: 2rem;
  font-family: 'Nunito Sans', sans-serif;

  text-align: center;

  min-height: 4rem; /*centralizando mais especificamente com min e max */
  max-width: 16rem; 
  margin: 2.8rem auto;
}
.cardsPedidos li p:nth-last-child(2) {
  color: black;
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 2.8rem;
}

.cardsPedidos li button {
  border: none;
  border-radius: .8rem;
  background-color: var(--headline-color);
 
  height: 4.1rem;
  width: 17.7rem;

  font-size: 1.8rem;
  font-weight: 500;
  cursor: pointer;
  
}

/*aula 2h33min*/
